form {
  margin: 3rem;
  display: flex;
  justify-content: space-around;
}

input[type="text"] {
  width: 600px;
  padding: 15px;
  border-radius: 5px;
  background-color: aliceblue;
  margin: auto;
}

.addButton {
  background-color: rgb(151, 153, 214);
  color: black;
  width: 50px;
  border-radius: 5px;
  border: 1px solid rgb(12, 12, 12);
}
